@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
body{
    padding: 80px 0 0 0;
    height: 100%;
    background: url(../img/background.jpg);
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
}
body,input, button{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #00A388;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 4px rgba(44,62,80,0.15);
}
header input{
    width: 100%;
    height: 50px;
    float: left;
    padding: 0 60px 0 30px;
    color: #F6EDD3;
    text-indent: 18px;
    background: rgba(219, 219, 219, 0.36);
    border-radius: 5px 25px 25px 5px;
    border: none;
    box-shadow: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;

}
header input::-webkit-input-placeholder{
    color: rgba(225, 225, 225, 0.75)
}
header input::-moz-input-placeholder{
    color: rgba(225, 225, 225, 0.75)
}
header input:-moz-input-placeholder{
    color: rgba(225, 225, 225, 0.75)
}
header input:-ms-input-placeholder{
    color: rgba(225, 225, 225, 0.75)
}
header button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    cursor: pointer;
    border-radius: 25px;
    background-color: #F6EDD3;
    border: 0;
    box-shadow: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
}
header #mic{
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: 2;
    cursor: pointer;
    border-radius: 25px;
    background-color: #F6EDD3;
    border: 0;
    box-shadow: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
}
header #mic svg{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header #add svg{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    width: 100%;
    float: left;
    padding: 15px;
}
ul.todo{
    width: 100%;
    float: left;
}
ul.todo li{
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    list-style: none;
    background: #fff;
    position: relative;
    margin-bottom: 10px;
    padding: 14px 100px 14px 14px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(44,62,80,0.10);
}
ul.todo li:last-of-type{
    margin: 0;
}
ul.todo li .buttons{
    width: 100px;
    height: 50px;
    top: 0;
    right: 0;
    position: absolute;
}
ul.todo li .buttons button{
    width: 50px;
    height: 50px;
    float: left;
    position: relative;
    background: none;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
}
ul.todo#completed li .buttons button.complete svg{
    background: #25b99a;
    border: 0;
}
ul.todo:not(#completed) li .buttons button.complete:hover svg{
    background: rgba(37, 185, 154, 0.75)
}
ul.todo:not(#completed) li .buttons button.complete:hover svg .st2{
    fill: #fff;
}
ul.todo#completed li .buttons button.complete svg .st2{
    fill: #fff;
}
ul.todo li .buttons button:last-of-type:before{
    content: "";
    width: 1px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 0;
    background: #edf0f1;
}
ul.todo li .buttons button svg{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 60%);
}
ul.todo li .buttons button.remove svg .st1{
    transition: fill 0.2s ease-in-out;
    -webkit-transition: fill 0.2s ease-in-out;
    -moz-transition: fill 0.2s ease-in-out;
    -ms-transition: fill 0.2s ease-in-out;
    -o-transition: fill 0.2s ease-in-out;
}
ul.todo li .buttons button.remove:hover svg .st1{
    fill: #e85656;
}
ul.todo li .buttons button.complete svg{
    border-radius: 11px;
    border: 1.5px solid #25b99a;
    -webkit-transition: fill 0.2s ease-in-out;
    -moz-transition: fill 0.2s ease-in-out;
    -ms-transition: fill 0.2s ease-in-out;
    -o-transition: fill 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
ul.todo#completed{
    position: relative;
    padding: 60px 0 0 0;
}
ul.todo#completed:before{
    content: "";
    width: 150px;
    height: 1px;
    background: #d8e5e0;
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -75px;
}
ul.todo#todo:empty:after{
    content: "You have nothing to-do!";
    margin: 15px 0 0 0;
}
ul.todo#completed:empty:after{
    content: "You have yet to complete any task.";
}
ul.todo#todo:after, ul.todo#completed:after{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #aaaaaa;
}
#speech-container{
    top: 0;
    left: 0;
    bottom: 100%;
    right: 100%;
    position: fixed;
    background: url("https://images.unsplash.com/photo-1510016785329-91a548661797?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83087784e83098da941676741fa78c23&auto=format&fit=crop&w=1440&q=80");
    background-size: cover;
    background-position: center;    
    z-index: 99;
    transition: 0.3s linear;
}
.container-wrap{
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    margin: auto;
}
.top-content{
    margin: auto;
    margin-top: 20px;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.menu{
    max-width: 230px;
    margin-right: 50px;
}
.menu button{
    width: 45px;
    height: 45px;
    margin-left: 17px;
    line-height: 45px;
    text-align: center;
    color: azure;
    font-size: 30px;
    font-weight: bold;    
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.78);
    cursor: pointer;
    border: none;
    outline: none;
    overflow: hidden;
}
.top-content .menu button svg{
    width: 22px;
    height: 22px;
    
}
.menu button.clear{
    background: rgba(255, 210, 41, 0.78);
}
.menu button.done{
    background: #25b99a;
}
.menu button svg{
    fill: azure
}
.menu button svg path{
    fill: azure
}


.say-title h1{
    color: #fff;
    font-size: 50px;
    line-height: 50px;
    text-shadow: -4px 3px 20px #89a290;
}

.text-container{
    margin: auto;
    max-width: 990px;

}
#display{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    width: 100;
    height: 50px;
    line-height: 50px;
    background: rgba(41, 255, 184, 0.267);
    margin: 20px 0;
    border-radius: 50px;
}
.text-container textarea{
    width: 100%;
    height: 450px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #fff;
    font-size: 30px;
    background-color: #f8f8f800;
    resize: none;
}
textarea::-webkit-scrollbar {
    width: 10px;
}

/* Track */
textarea::-webkit-scrollbar-track {
    background: #888; 
}
 
/* Handle */
textarea::-webkit-scrollbar-thumb {
    background: #f1f1f1; 
}

/* Handle on hover */
textarea::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.loader{
    width: 170px;
    position: absolute;
    bottom: 25px;
}
.ball{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	float: left;
	margin-left: 20px;
	animation: move1 0.9s linear infinite;
}

.ball:nth-child(1){
	background: #4285f4;
	animation-delay: 0s;
}

.ball:nth-child(2){
	background: #ea4335;
	animation-delay: 0.25s;
}

.ball:nth-child(3){
	background: #fbbc05;
	animation-delay: 0.5s;
}

.ball:nth-child(4){
	animation-delay: 0.75s;
	background: #34a853;
}

@keyframes move1{
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(-25px);
	}
}